@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "./small-blocks/location.scss";
@import "./small-blocks/small-blocks.scss";
@import "./navigation/sandwich.scss";
@import "./modules/header.scss";
@import "./navigation/main-nav.scss";
@import "./modules/user/user.scss";
@import "./navigation/catalog-nav.scss";
@import "./modules/form/form.scss";
@import "./modules/form/input_field.scss";
@import "./modules/basket/basket-prev.scss";
@import "./modules/basket/basket.scss";
@import "../../assets/fonts/fonts.scss";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  color: $base-text-color;
  background: $default-color;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $base-text-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1240px;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "a a a a a a b b b"
    "c c c c d d d d d"
    "c c c c e e e e e"
    "f f f g g g g g g";
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}

h2,
h3,
h4 {
  font-weight: 200;
  letter-spacing: 1px;
  span {
    font-weight: 900;
  }
}

.span {
  display: block;
  margin: 1em 0px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

a,
input,
textarea {
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 0;
  display: block;
  max-width: 210px;
  text-align: center;
  margin-top: 50px;
}

.grid-item-beige a {
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
}

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #fff;
}
.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: #fffb;
}
.form input:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: #fffb;
}
.form input:-ms-placeholder,
.form textarea:-ms-placeholder {
  color: #fffb;
}

.form input,
.form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-bottom: 12px;
  padding: 18px 15px;
}

.form input {
  width: calc(48%-30px);
}

.form textarea {
  width: 100%;
  min-height: 124px;
}

.grid-item-bg {
  background-image: url("../img/photo_main.jpg");
  grid-area: a;
}

.grid-item-gray {
  background-color: #f3f3f3;
  grid-area: b;
}
.grid-item-blue {
  background-color: rgba(84, 255, 238, 0.9);
  background-image: url("../img/photo_section_3.jpg");
  grid-area: c;
}

.grid-item-beige {
  background-image: url("../img/photo_section_4.jpg");
  grid-area: d;
}

.grid-item-black {
  background-image: url("../img/photo_section_5.jpg");
  grid-area: e;
}

.grid-item-human {
  background-image: url("../img/photo_section_6.jpg");
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 620px;
}

.grid-item-green {
  background-image: url("../img/photo_section_last.jpg");
  grid-area: g;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.grid-item-bg,
.grid-item-blue,
.grid-item-beige,
.grid-item-black,
.grid-item-green,
.grid-item-human {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item-gray,
.grid-item-blue,
.grid-item-beige,
.grid-item-black,
.grid-item-green,
.grid-item-human {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 55px 70px 55px;
}

.grid-item-blue,
.grid-item-black,
.grid-item-green,
.grid-item-human {
  color: #fff;
}

.grid-item-blue > div {
  color: #fff;
  margin-bottom: 70px;
}

button {
  display: block;
  background-image: url("../img/menu_button.png");
  width: 33px;
  height: 33px;
  background-size: cover;
  background-color: transparent;
  border: none;
  margin-bottom: 64px;
}

.design_logo-footer {
  margin-top: 10em;
}

.logo {
  // margin: 3em;
  display: block;
  width: 90px;
  height: 90px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 1em;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  & > li {
    margin-right: 10px;
    & > a {
      background-size: cover;
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      display: block;
      border: none;
      margin-top: 7em;
      margin-bottom: 2em;
    }
    & > a.list-fb {
      background-image: url("../img/facebook.png");
      background-size: cover;
    }
    & > a.list-dr {
      background-image: url("../img/globe.png");
    }
    & > a.list-tw {
      background-image: url("../img/twitter.png");
    }
  }
}
