//- section(style="background-image:url('../../../assets/img/head_banner.jpg')").s-banner
//-     .container
//-         .banner
//-             h1.title-page Продажа строительных материалов от производителя
//-             p.banner__text Текст о компании, который может пригодится для первичного знакомства с посетителями сайта, а также целей поискового продвижения