include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .design__head-class
      section.design_main__block
          img(src="../../../assets/img/photo_main.jpg").img-head
      section.design__menu-items
        button(type='button')
        h2 All sayed 
          span Web Designing
        h2 Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.

      section.design__advanced-used
        h2 Drawing 
          span Scketch
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.
        h2 Making 
          span Design
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        h2 Developing 
          span Product
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
      section.design__article
        h2 Best
          span Starting
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        a(href="")
      section.design__verified
        h2 Verified
          span Dummy
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        a(href="")
      section.design__footer-section
        h2 Verified
          span Dummy
        .design__footer-logo
          h2 
            span Ali Sayed
          p Graphic Designer
      section.design__footer-form
        h2 Say
          span Hello
        form(action="")
          input(type='text', placeholder="Your Name")
          input(type='text', placeholder="Your Email")
          textarea(name="", placeholder="Your message Here ...")
        .design__footer-contact 
            p Stay Connected with Us ...
            ul
              li
                a(href="")
              li
                a(href="")
              
              li
                a(href="")
            p Please Feel Free to contact with us any kind of Project
          
      




        include ../includes/modules/header
        
        
        include ../includes/modules/footer

    block script