include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .grid
      .design_main__block.grid-item-bg
          img(src="", alt='').img-head
      .design__menu-items.grid-item-gray
        button(type='button')
        h2 All sayed 
          span Web Designing
          h2 Project
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.

      .design__advanced-used.grid-item-blue
        div 
          h2 Drawing 
            span Scketch
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sint eum voluptates odio. Error in totam repudiandae recusandae nemo.
        div
          h2 Making 
            span Design
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        div
          h2 Developing 
            span Product
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
      .design__article.grid-item-beige
        h2 Best
          span Starting
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        a(href="") View our history
      .design__verified.grid-item-black
        h2 Verified
          span Dummy
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi, officia quibusdam voluptates amet quaerat recusandae asperiores mollitia. Rerum omnis sin
        a(href="") Go to our Page
      .design__footer-section.grid-item-human
        h2 This Webpage
          span isDesignedby
        .logo
        h2
          span Ali Sayed
          p Graphic Designer
          
      .design__footer-form.grid-item-green
        h2 Say
          span Hello
        form(action="", class="form")
          input(type='text', placeholder="Your Name")
          input(type='text', placeholder="Your Email")
          textarea(name="", placeholder="Your message Here ...")
        .design__footer-contact 
            p Stay Connected with Us ...
            ul.list
              li
                a(href='' class='list-fb')
              li
                a(href="" class="list-dr")
              li
                a(href="" class="list-tw")
            p Please Feel Free to contact with us any kind of Project
          
      




        include ../includes/modules/header
        
        
        include ../includes/modules/footer

    block script